header {
    .title {
        background-color: beige;
    }
}
body {
    background-color: grey;
}
pre {
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
}

.option {
    border: 5px solid;
    width: 500px;
    height: 500px;
}

h4 {
    background-color: bisque;
}

ul {
    background-color: aqua;
}

ol {
    background-color: azure;
}