<!DOCTYPE html>
<html>
<head>
    <title>TaskMaster - Sort your tasks in order!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="title">Welcome to the TaskMaster!</h1>
        <nav>
            <a href="/signup" class="option">Sign up</a>
            <a href="/login" class="option">Log in</a>
        </nav>
    </header>
    
    <main>
        <section class="intro">
            <h1>Printable to-do lists with your tasks organised, so you focus on what's important</h1>
            <p>Feel free to demo the tool by clicking the button below!</p>
            <nav>
                <a href="input/labels" class="option">Insert Labels</a>
            </nav>
            <h2>How does this work?</h2>
            <p>It works by a method of algorithms that sort your tasks by:</p>
            <ol>
                <li>Considering the nature of the task vs the nature of other tasks (e.g., Uni work vs Household chores), note you cannot use symbols/numbers</li>
                <li>Considering the importance of the task at hand on a scale of 1-5 (e.g., anything labelled 5 would be something that is utmost important, whereas 1 would be something you would consider insignificant)</li>
                <li>Considering the days you have left to finish this task</li>
            </ol>
            <p>This is then run into a formula where the label's importance, task's importance, and the amount of days remaining are considered. We do this for all your tasks and then sort them based on the result of the aforementioned formula.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 TaskMaster</p>
    </footer>
</body>
</html>