<!DOCTYPE html>
<html>
<head>
    <title>TaskMaster - Get your tasks in order!</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataframe').DataTable();
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="title">Your TaskList - made by TaskMaster:</h1>
    </header>
    <main>
        {{ df_html | safe }}
    </main>
    <footer>
        <p>&copy; 2024 TaskMaster</p>
    </footer>
</body>
</html>